<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo_font_animation_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{150,204}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,204}}</string>
                <key>sourceSize</key>
                <string>{150,260}</string>
            </dict>
            <key>bingo_font_animation_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{350,422}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,422}}</string>
                <key>sourceSize</key>
                <string>{350,460}</string>
            </dict>
            <key>bingo_font_animation_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{85,212}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{85,212}}</string>
                <key>sourceSize</key>
                <string>{85,260}</string>
            </dict>
            <key>bingo_font_animation_g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,426}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{285,426}}</string>
                <key>sourceSize</key>
                <string>{285,460}</string>
            </dict>
            <key>bingo_font_animation_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,854},{56,140}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{56,140}}</string>
                <key>sourceSize</key>
                <string>{56,260}</string>
            </dict>
            <key>bingo_font_animation_i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{256,370}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{256,370}}</string>
                <key>sourceSize</key>
                <string>{256,460}</string>
            </dict>
            <key>bingo_font_animation_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,854},{83,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{83,132}}</string>
                <key>sourceSize</key>
                <string>{83,260}</string>
            </dict>
            <key>bingo_font_animation_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{283,360}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{283,360}}</string>
                <key>sourceSize</key>
                <string>{283,460}</string>
            </dict>
            <key>bingo_font_animation_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,854},{73,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{73,116}}</string>
                <key>sourceSize</key>
                <string>{73,260}</string>
            </dict>
            <key>bingo_font_animation_o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,287},{273,344}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{273,344}}</string>
                <key>sourceSize</key>
                <string>{273,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingo_font_animation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ceb800ad6fc27f7df231b8f899f45ea:1/1$</string>
            <key>textureFileName</key>
            <string>bingo_font_animation.png</string>
        </dict>
    </dict>
</plist>
