<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>hero01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>hero02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>hero03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>hero04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f952ddf96a4630571f6e83e718aea06:1/1$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
